@page "{id}"
@model Cards.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
@inject SymbolFormatter MtgSymbols


<h1>Delete @Model.Card.Name</h1>

<hr />
<div class="alert alert-warning" role="alert">
    <h5 class="alert-heading">Are you sure you want to delete this card?</h5>
    <p>
        Deleting this card will also affect locations that 
        are currently holding the card
    </p>
    <form method="POST">
        <!-- js hack -->
        <a href="javascript:history.go(-1)"
            class="btn btn-secondary">
            Back </a>

        <input type="hidden" asp-for="Card.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>


@(await Html.PartialAsync("_CardPartial", Model.Card))