@page
@model MTGViewer.Pages.Decks.DeleteModel

@{
    ViewData["Title"] = "Delete Deck";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>@Model.Deck.Name</h4>
    <hr/>

    <dl class="row">
    @foreach(var card in Model.Deck.Cards.OrderBy(c => c.Card.Name))
    {
        <dt class="col-sm-3">@card.Card.Name</dt>
        <dd class="col-sm-1">@card.Amount</dd>
    }
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Deck.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>