/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.validation-errors {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;

  padding-left: 0;
  list-style: none;
}

.validation-message {
  margin-left: 1rem;
}

.preview-img {
  position: fixed;
  z-index: 1;
  width: 280px;
}

.preview {
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
}

.preview-item {
  display: none;
  position: relative;
  align-items: center;
  top: 4rem;
  left: 2rem;
}

.preview-item img {
  position: absolute;
  z-index: 2;
  max-width: 220px;
}

.preview-watch:hover ~ .preview-item {
  display: inherit;
}

.clickable {
  cursor: pointer;
  pointer-events: auto;
}

.multiline
{
   white-space: pre-line;
}

.table tbody th, .table td {
  vertical-align: middle;
}


#deck-builder {
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
}

#deck-builder-cards {
  height: 90vh;
  overflow-y: auto;
}

#deck-builder input {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.75rem;
  padding: 0;
  display: block;
  width: 100%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#deck-builder input::-ms-expand {
  background-color: transparent;
  border: 0;
}

#deck-builder input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}