
<div class="preview">
    <div class="preview-watch">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            <a href="/Cards/Details/@Target.Id"> @Target.Name </a>
        }
    </div>

    <aside class="preview-item">
        <img alt="@Target.Name image" src="@Target.ImageUrl.WithHttps()" class="img-fluid rounded" />
    </aside>
</div>


@code
{
    [Parameter]
    public Card Target { get; set; } = null!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}