@inject NavigationManager Nav
@inject ILogger<LoginRedirect> Logger

<h1> Redirecting to Login </h1>

@code {

    protected override void OnInitialized()
    {
        try
        {
            Nav.NavigateTo("/Identity/Account/Login", true, true);
        }
        catch (NavigationException e)
        {
            Logger.LogWarning(e.ToString());
        }
    }
}