@namespace MTGViewer.Components

<div class="preview">
    <div class="preview-watch">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            <a href="/Cards/Details/@Card.Id"> @Card.Name </a>
        }
    </div>

    <aside class="preview-item">
        <img alt="@Card.Name image" src="@Card.ImageUrl.WithHttps()" class="img-fluid rounded" />
    </aside>
</div>


@code
{
    [Parameter]
    public Card Card { get; set; } = null!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}