@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //code blocks not affected by rendering, asterisk blocks are for rendering
}

<div class="text-center">
    <h1 class="display-4">Welcome to the card database!</h1>
</div>

<component type="typeof(Components.Counter)" render-mode="ServerPrerendered" />

@* @(await Html.RenderComponentAsync<Components.Counter>(RenderMode.ServerPrerendered)) *@