@page "{handler?}"
@model Treasury.BackupModel
@{
    ViewData["Title"] = "Treasury Backup";
}

<h1>Data Backup</h1>
<hr />

<div class="row mb-3">
    <div class="col">
        <h3>Overview</h3>
        <p>
            Bulk fetch and add operations can be done via files. Currently, only .json files with
            the same format as the exported .json format and .csv files are supported.
        </p>
        <p>
            The .csv file format expects for a header with the format: <code>Name,MultiverseID,Quantity</code>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h3>Import New Data</h3>
        <form method="POST" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group my-4">
                <label asp-for="Import!.File" class="sr-only"></label>
                <input asp-for="Import!.File" class="form-control-file" accept=".json,application/json,text/csv" />
                <span asp-validation-for="Import!.File" class="text-danger"></span>
            </div>

            <input asp-page-handler="Upload" 
                title="Upload Card Data"
                type="submit" class="btn btn-secondary" 
                value="Upload" />
        </form>
    </div>

    <div class="col-md-5">
        <h3>Export Current Data</h3>

        <form method="GET" asp-page-handler="Download">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="Export!.Section" class="control-label"></label>
                    <input asp-for="Export!.Section" class="form-control" min="1" max="@Model.NumberOfSections" />

                    <p> There are @Model.NumberOfSections possible sections </p>
                    <span asp-validation-for="Export!.Section" class="text-danger"></span>
                </div>
            </div>

            <input type="submit" class="btn btn-secondary"
                title="Download Card Data"
                value="Download" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}