@page "{id:int}"
@model Treasury.DetailsModel
@{
    ViewData["Title"] = $"{Model.Box.Name} - Details";
    ViewData["ReturnUrl"] = $"{Request.Path}{Request.QueryString}";
    ViewData[nameof(Box.Cards)] = Model.NumberOfCards;
}

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using MTGViewer.Areas.Identity.Data

@inject IAuthorizationService AuthorizationService
@inject SignInManager<CardUser> SignInManager


<h1> @Model.Box.Name - @Model.Box.Bin.Name </h1>

@if (SignInManager.IsSignedIn(User))
{
    bool canChangeTreasury = (await AuthorizationService
        .AuthorizeAsync(User, CardPolicies.ChangeTreasury)).Succeeded; 

    <div class="btn-group mb-3" role="group">
        @if (canChangeTreasury)
        {
            <a href="/Treasury/Adjust/@Model.Box.Id"
                class="btn btn-secondary" role="button">
                Edit </a>

            <a asp-page="Delete" asp-route-id="@Model.Box.Id"
                class="btn btn-danger" role="alert">
                Delete </a>
        }
        else
        {
            <button class="btn btn-secondary" type="button" disabled> Edit </button>
            <button class="btn btn-danger" type="button" disabled> Delete </button>
        }
    </div>
}

<partial name="_BoxPartial", for="Box"/>

<component type="typeof(SeekPaging<int>)" render-mode="Static" param-Seek="Model.Seek" />